In [2]:

import os
import re
import sqlite3
import pandas as pd
import numpy as np


## Analysis

In [3]:

def analyze_table(table_name):
    """
    Analyze a table to identify column stats and issues.
    """
    db_path = os.path.join(os.getcwd(), "../..", "data/raw/company_metadata.db")
    conn = sqlite3.connect(db_path)
    query = f"SELECT * FROM {table_name}"
    df = pd.read_sql_query(query, conn)
    conn.close()
    
    print(f"Analysis for Table: {table_name}")
    print("Column Info:")
    print(df.info())
    print("\nSample Data:")
    print(df.head())
    print("-" * 50)

tables = ["company_info", "balance_sheet", "income_statement", "cash_flow", "historical_data", "analyst_recommendations"]

for table in tables:
    analyze_table(table)

Analysis for Table: company_info
Column Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2533 entries, 0 to 2532
Columns: 126 entries, address1 to bid
dtypes: float64(90), object(36)
memory usage: 2.4+ MB
None

Sample Data:
            address1                                           address2  \
0  Maker Chambers IV                        3rd Floor 222 Nariman Point
1          TCS House  Raveline Street Corner of Hazarimal Somani Mar...
2    HDFC Bank House       Shiv Sagar Estate Dr Annie Besant Road Worli
3  ICICI Bank Towers                               Bandra-Kurla Complex
4    Bharti Crescent      1, Nelson Mandela Road Vasant Kunj Phase - II

        city      zip country            phone              fax  \
0     Mumbai   400021   India  91 22 3555 5000  91 22 2204 2268
1     Mumbai  400 001   India  91 22 6778 9999  91 22 6778 9000
2     Mumbai   400018   India  91 22 6652 1000             None
3     Mumbai   400051   India  91 22 2653 6173  91 22 2653 1122
4  New Delhi   110070   India  91 11 4666 6100  91 11 4166 6137

                     website                         industry  \
0        https://www.ril.com   Oil & Gas Refining & Marketing
1        https://www.tcs.com  Information Technology Services
2   https://www.hdfcbank.com                 Banks - Regional
3  https://www.icicibank.com                 Banks - Regional
4      https://www.airtel.in                 Telecom Services

                       industryKey  ... operatingMargins financialCurrency  \
0       oil-gas-refining-marketing  ...          0.12920               INR
1  information-technology-services  ...          0.24067               INR
2                   banks-regional  ...          0.32808               INR
3                   banks-regional  ...          0.37387               INR
4                 telecom-services  ...          0.23808               INR

  trailingPegRatio         ticker            ticker_id  earningsGrowth   beta  \
0             None    RELIANCE.NS  3801970844685813639             NaN    NaN
1           2.1774         TCS.NS  2242381467505335514           0.062  0.513
2             None    HDFCBANK.NS  2719709605263437852          -0.020  0.833
3             None   ICICIBANK.NS  5190484416398844471           0.095  0.841
4             None  BHARTIARTL.NS  6279170811445537096           1.502  0.267

   pegRatio  ask  bid
0       NaN  NaN  NaN
1      3.18  NaN  NaN
2       NaN  NaN  NaN
3      1.03  NaN  NaN
4       NaN  NaN  NaN

[5 rows x 126 columns]
--------------------------------------------------
Analysis for Table: balance_sheet
Column Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10544 entries, 0 to 10543
Columns: 139 entries, Ordinary Shares Number to Current Deferred Taxes Assets
dtypes: object(139)
memory usage: 11.2+ MB
None

Sample Data:
  Ordinary Shares Number  Share Issued         Net Debt       Total Debt  \
0           6766109014.0  6766109014.0  2273970000000.0  3461420000000.0
1           6766094014.0  6766094014.0  2798100000000.0  3343920000000.0
2           6765994014.0  6765994014.0  2327960000000.0  2819740000000.0
3           6762068814.0  6762068814.0  2373050000000.0  2601250000000.0
4                    nan           nan              nan              nan

  Tangible Book Value  Invested Capital Working Capital Net Tangible Assets  \
0     4331070000000.0  11181030000000.0  727330000000.0     4331070000000.0
1     3850770000000.0  10298380000000.0  295530000000.0     3850770000000.0
2     5476870000000.0  10457900000000.0  383570000000.0     5476870000000.0
3     5551980000000.0   9519830000000.0  954430000000.0     5551980000000.0
4                 nan               nan             nan                 nan

  Capital Lease Obligations Common Stock Equity  ... Preferred Stock Equity  \
0            215200000000.0     7934810000000.0  ...                   None
1            204260000000.0     7158720000000.0  ...                   None
2            156690000000.0     7794850000000.0  ...                   None
3             83140000000.0     7001720000000.0  ...                   None
4                       nan                 nan  ...                   None

  Inventories Adjustments Allowances Line Of Credit Interest Payable  \
0                               None           None             None
1                               None           None             None
2                               None           None             None
3                               None           None             None
4                               None           None             None

  Duefrom Related Parties Current Duefrom Related Parties Non Current  \
0                            None                                None
1                            None                                None
2                            None                                None
3                            None                                None
4                            None                                None

  Receivables Adjustments Allowances Dueto Related Parties Current  \
0                               None                          None
1                               None                          None
2                               None                          None
3                               None                          None
4                               None                          None

  Dueto Related Parties Non Current Current Deferred Taxes Assets
0                              None                          None
1                              None                          None
2                              None                          None
3                              None                          None
4                              None                          None

[5 rows x 139 columns]
--------------------------------------------------
Analysis for Table: income_statement
Column Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10257 entries, 0 to 10256
Data columns (total 80 columns):
 #   Column                                                      Non-Null Count  Dtype
---  ------                                                      --------------  -----
 0   Tax Effect Of Unusual Items                                 10198 non-null  object
 1   Tax Rate For Calcs                                          10198 non-null  object
 2   Normalized EBITDA                                           9735 non-null   object
 3   Total Unusual Items                                         10107 non-null  object
 4   Total Unusual Items Excluding Goodwill                      10107 non-null  object
 5   Net Income From Continuing Operation Net Minority Interest  10198 non-null  object
 6   Reconciled Depreciation                                     10196 non-null  object
 7   Reconciled Cost Of Revenue                                  9697 non-null   object
 8   EBITDA                                                      9735 non-null   object
 9   EBIT                                                        9816 non-null   object
 10  Net Interest Income                                         10197 non-null  object
 11  Interest Expense                                            10147 non-null  object
 12  Interest Income                                             10082 non-null  object
 13  Normalized Income                                           10198 non-null  object
 14  Net Income From Continuing And Discontinued Operation       10198 non-null  object
 15  Total Expenses                                              9816 non-null   object
 16  Rent Expense Supplemental                                   9388 non-null   object
 17  Diluted Average Shares                                      10193 non-null  object
 18  Basic Average Shares                                        10193 non-null  object
 19  Diluted EPS                                                 10194 non-null  object
 20  Basic EPS                                                   10194 non-null  object
 21  Diluted NI Availto Com Stockholders                         10198 non-null  object
 22  Net Income Common Stockholders                              10198 non-null  object
 23  Otherunder Preferred Stock Dividend                         9749 non-null   object
 24  Net Income                                                  10198 non-null  object
 25  Minority Interests                                          5532 non-null   object
 26  Net Income Including Noncontrolling Interests               10198 non-null  object
 27  Net Income Discontinuous Operations                         2638 non-null   object
 28  Net Income Continuous Operations                            10198 non-null  object
 29  Tax Provision                                               10197 non-null  object
 30  Pretax Income                                               10198 non-null  object
 31  Other Non Operating Income Expenses                         9706 non-null   object
 32  Special Income Charges                                      10092 non-null  object
 33  Other Special Charges                                       9538 non-null   object
 34  Write Off                                                   8063 non-null   object
 35  Restructuring And Mergern Acquisition                       1071 non-null   object
 36  Net Non Operating Interest Income Expense                   9815 non-null   object
 37  Total Other Finance Cost                                    8753 non-null   object
 38  Interest Expense Non Operating                              9765 non-null   object
 39  Interest Income Non Operating                               9659 non-null   object
 40  Operating Income                                            9735 non-null   object
 41  Operating Expense                                           10097 non-null  object
 42  Other Operating Expenses                                    10170 non-null  object
 43  Selling General And Administration                          10176 non-null  object
 44  Selling And Marketing Expense                               9557 non-null   object
 45  General And Administrative Expense                          10156 non-null  object
 46  Rent And Landing Fees                                       9546 non-null   object
 47  Gross Profit                                                9697 non-null   object
 48  Cost Of Revenue                                             9697 non-null   object
 49  Total Revenue                                               10198 non-null  object
 50  Operating Revenue                                           10198 non-null  object
 51  period                                                      10257 non-null  object
 52  ticker                                                      10257 non-null  object
 53  ticker_id                                                   10257 non-null  object
 54  Depreciation Income Statement                               9825 non-null   object
 55  Depreciation And Amortization In Income Statement           9835 non-null   object
 56  Depreciation Amortization Depletion Income Statement        50 non-null     object
 57  Other Non Interest Expense                                  20 non-null     object
 58  Gain On Sale Of Security                                    423 non-null    object
 59  Occupancy And Equipment                                     20 non-null     object
 60  Net Income Extraordinary                                    1049 non-null   object
 61  Other Gand A                                                50 non-null     object
 62  Amortization Of Intangibles Income Statement                20 non-null     object
 63  Salaries And Wages                                          60 non-null     object
 64  Insurance And Claims                                        384 non-null    object
 65  Amortization                                                6296 non-null   object
 66  Professional Expense And Contract Services Expense          10 non-null     object
 67  Impairment Of Capital Assets                                2483 non-null   object
 68  Other Income Expense                                        131 non-null    object
 69  Other Taxes                                                 10 non-null     object
 70  Gain On Sale Of Business                                    20 non-null     object
 71  Earnings From Equity Interest                               40 non-null     object
 72  Total Operating Income As Reported                          76 non-null     object
 73  Net Policyholder Benefits And Claims                        81 non-null     object
 74  Research And Development                                    1427 non-null   object
 75  Preferred Stock Dividends                                   182 non-null    object
 76  Provision For Doubtful Accounts                             20 non-null     object
 77  Gain On Sale Of Ppe                                         20 non-null     object
 78  Average Dilution Earnings                                   135 non-null    object
 79  Earnings From Equity Interest Net Of Tax                    10 non-null     object
dtypes: object(80)
memory usage: 6.3+ MB
None

Sample Data:
  Tax Effect Of Unusual Items Tax Rate For Calcs Normalized EBITDA  \
0                         0.0           0.245467   1786770000000.0
1                         0.0            0.21666   1539200000000.0
2                8188344000.0             0.2004   1222880000000.0
3                3659070000.0             0.0345    893340000000.0
4                         nan                nan               nan

  Total Unusual Items Total Unusual Items Excluding Goodwill  \
0       16560000000.0                          16560000000.0
1      -14580000000.0                         -14580000000.0
2       40860000000.0                          40860000000.0
3      106060000000.0                         106060000000.0
4                 nan                                    nan

  Net Income From Continuing Operation Net Minority Interest  \
0                                     696210000000.0
1                                     662840000000.0
2                                     590440000000.0
3                                     491280000000.0
4                                                nan

  Reconciled Depreciation Reconciled Cost Of Revenue           EBITDA  \
0          508320000000.0            6361750000000.0  1786770000000.0
1          403030000000.0            6287860000000.0  1539200000000.0
2          297820000000.0            5316780000000.0  1263740000000.0
3          265720000000.0            3390610000000.0   999400000000.0
4                     nan                        nan              nan

              EBIT  ... Gain On Sale Of Business  \
0  1278450000000.0  ...                     None
1  1136170000000.0  ...                     None
2   965920000000.0  ...                     None
3   733680000000.0  ...                     None
4              nan  ...                     None

  Earnings From Equity Interest Total Operating Income As Reported  \
0                          None                               None
1                          None                               None
2                          None                               None
3                          None                               None
4                          None                               None

  Net Policyholder Benefits And Claims Research And Development  \
0                                 None                     None
1                                 None                     None
2                                 None                     None
3                                 None                     None
4                                 None                     None

  Preferred Stock Dividends Provision For Doubtful Accounts  \
0                      None                            None
1                      None                            None
2                      None                            None
3                      None                            None
4                      None                            None

  Gain On Sale Of Ppe Average Dilution Earnings  \
0                None                      None
1                None                      None
2                None                      None
3                None                      None
4                None                      None

  Earnings From Equity Interest Net Of Tax
0                                     None
1                                     None
2                                     None
3                                     None
4                                     None

[5 rows x 80 columns]
--------------------------------------------------
Analysis for Table: cash_flow
Column Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10574 entries, 0 to 10573
Columns: 105 entries, Free Cash Flow to Preferred Stock Dividend Paid
dtypes: object(105)
memory usage: 8.5+ MB
None

Sample Data:
    Free Cash Flow Repayment Of Debt Issuance Of Debt  \
0    59050000000.0   -350550000000.0   696100000000.0
1  -259560000000.0   -290590000000.0   359360000000.0
2   105090000000.0   -406470000000.0   593430000000.0
3  -788790000000.0   -872400000000.0   332110000000.0
4              nan               nan              nan

  Issuance Of Capital Stock Capital Expenditure End Cash Position  \
0                70000000.0    -1528830000000.0    972250000000.0
1               400000000.0    -1409880000000.0    686640000000.0
2            397670000000.0    -1001450000000.0    361780000000.0
3            132150000000.0    -1058370000000.0    173970000000.0
4                       nan                 nan               nan

  Other Cash Adjustment Outside Changein Cash Beginning Cash Position  \
0                                7200000000.0          686640000000.0
1                              -17660000000.0          361780000000.0
2                                9410000000.0          173970000000.0
3                                 240000000.0          309200000000.0
4                                         nan                     nan

   Changes In Cash Financing Cash Flow  ... Short Term Debt Issuance  \
0   278410000000.0     -166460000000.0  ...                     None
1   342520000000.0      104550000000.0  ...                     None
2   178400000000.0      172890000000.0  ...                     None
3  -135470000000.0     1019040000000.0  ...                     None
4              nan                 nan  ...                     None

  Pension And Employee Benefit Expense Interest Paid Cfo  \
0                                 None              None
1                                 None              None
2                                 None              None
3                                 None              None
4                                 None              None

  Interest Received Cfo Dividend Received Cfo  \
0                  None                  None
1                  None                  None
2                  None                  None
3                  None                  None
4                  None                  None

  Other Cash Adjustment Inside Changein Cash Preferred Stock Payments  \
0                                       None                     None
1                                       None                     None
2                                       None                     None
3                                       None                     None
4                                       None                     None

  Paymentson Behalfof Employees Dividend Paid Cfo  \
0                          None              None
1                          None              None

In [4]:
def find_non_numeric_rows(table_name):
    """
    Identify rows with non-numeric values in columns expected to be numeric.
    """

    def is_numeric_like(col_values):
        """
        Check if a column is numeric-like based on its values.
        A column is numeric-like if the majority of its non-null values are numeric.
        """
        non_null_values = col_values[col_values.notnull()]
        
        numeric_count = sum(
            isinstance(val, (int, float)) or 
            str(val).replace('.', '', 1).replace('-', '', 1).isdigit()
            for val in non_null_values
        )
        total_count = len(non_null_values)
        
        # Consider numeric-like if >50% of values are numeric
        return numeric_count / total_count > 0.5 if total_count > 0 else False
    
    db_path = os.path.join(os.getcwd(), "../..", "data/raw/company_metadata.db")
    conn = sqlite3.connect(db_path)
    df = pd.read_sql_query(f"SELECT * FROM {table_name}", conn)
    conn.close()
    
    print(f"Analyzing table: {table_name}")
    
    issues = {}
    for col in df.columns:
        if df[col].dtype == "object":  # Only analyze object columns
            # Determine if column is numeric-like
            if not is_numeric_like(df[col]):
                print(f"Skipping column: {col} (genuinely string)")
                continue
            
            # Identify rows with non-numeric values
            non_numeric_rows = df[df[col].notnull() & ~df[col].apply(lambda x: isinstance(x, (int, float)))]
            if not non_numeric_rows.empty:
                issues[col] = non_numeric_rows[[col]]

    # Display results
    if issues:
        print(f"Issues found in table: {table_name}")
        for col, rows in issues.items():
            print(f"\nColumn: {col}")
            print(rows)
    else:
        print(f"No non-numeric issues found in table: {table_name}")
        
tables = ["company_info", "balance_sheet", "income_statement", "cash_flow", "historical_data", "analyst_recommendations" ]

for table in tables:
    find_non_numeric_rows(table)

Analyzing table: company_info
Skipping column: address1 (genuinely string)
Skipping column: address2 (genuinely string)
Skipping column: city (genuinely string)
Skipping column: country (genuinely string)
Skipping column: phone (genuinely string)
Skipping column: fax (genuinely string)
Skipping column: website (genuinely string)
Skipping column: industry (genuinely string)
Skipping column: industryKey (genuinely string)
Skipping column: industryDisp (genuinely string)
Skipping column: sector (genuinely string)
Skipping column: sectorKey (genuinely string)
Skipping column: sectorDisp (genuinely string)
Skipping column: longBusinessSummary (genuinely string)
Skipping column: companyOfficers (genuinely string)
Skipping column: irWebsite (genuinely string)
Skipping column: currency (genuinely string)
Skipping column: lastSplitFactor (genuinely string)
Skipping column: exchange (genuinely string)
Skipping column: quoteType (genuinely string)
Skipping column: symbol (genuinely string)
Skipping column: underlyingSymbol (genuinely string)
Skipping column: shortName (genuinely string)
Skipping column: longName (genuinely string)
Skipping column: timeZoneFullName (genuinely string)
Skipping column: timeZoneShortName (genuinely string)
Skipping column: uuid (genuinely string)
Skipping column: messageBoardId (genuinely string)
Skipping column: recommendationKey (genuinely string)
Skipping column: financialCurrency (genuinely string)
Skipping column: trailingPegRatio (genuinely string)
Skipping column: ticker (genuinely string)
Issues found in table: company_info

Column: zip
          zip
0      400021
1     400 001
2      400018
3      400051
4      110070
...       ...
2073   751015
2079   560095
2191   560095
2472   400013
2504   500096

[2075 rows x 1 columns]

Column: trailingPE
     trailingPE
1603   Infinity
1855   Infinity

Column: priceToSalesTrailing12Months
     priceToSalesTrailing12Months
2072                     Infinity

Column: ticker_id
                ticker_id
0     3801970844685813639
1     2242381467505335514
2     2719709605263437852
3     5190484416398844471
4     6279170811445537096
...                   ...
2528  8365371178573295650
2529  2789635494763849760
2530  8816915473781501943
2531   442918242311047174
2532  1501753249788444669

[2533 rows x 1 columns]
Analyzing table: balance_sheet
Skipping column: period (genuinely string)
Skipping column: ticker (genuinely string)
Skipping column: Treasury Shares Number (genuinely string)
Skipping column: Other Investments (genuinely string)
Skipping column: Current Notes Payable (genuinely string)
Skipping column: Trading Securities (genuinely string)
Skipping column: Preferred Shares Number (genuinely string)
Skipping column: Preferred Stock Equity (genuinely string)
Skipping column: Duefrom Related Parties Non Current (genuinely string)
Skipping column: Dueto Related Parties Non Current (genuinely string)
Skipping column: Current Deferred Taxes Assets (genuinely string)
Issues found in table: balance_sheet

Column: Ordinary Shares Number
                                  Ordinary Shares Number
0                                           6766109014.0
1                                           6766094014.0
2                                           6765994014.0
3                                           6762068814.0
4                                                    nan
...                                                  ...
10539  2024-03-31    10030105.0\n2023-03-31    100301...
10540  2024-03-31    251108902.0\n2023-03-31    25270...
10541  2023-03-31    4407200.0\n2022-03-31    4407200...
10542  2021-03-31    72854454.0\n2020-03-31    728544...
10543  2024-03-31    6303750.0\n2023-03-31    6303750...

[10484 rows x 1 columns]

Column: Share Issued
                                            Share Issued
0                                           6766109014.0
1                                           6766094014.0
2                                           6765994014.0
3                                           6762068814.0
4                                                    nan
...                                                  ...
10539  2024-03-31    10030105.0\n2023-03-31    100301...
10540  2024-03-31    252708902.0\n2023-03-31    25270...
10541  2023-03-31    4407200.0\n2022-03-31    4407200...
10542  2021-03-31    72854454.0\n2020-03-31    728544...
10543  2024-03-31    6303750.0\n2023-03-31    6303750...

[10484 rows x 1 columns]

Column: Net Debt
                                                Net Debt
0                                        2273970000000.0
1                                        2798100000000.0
2                                        2327960000000.0
3                                        2373050000000.0
4                                                    nan
...                                                  ...
10539  2024-03-31    278422000.0\n2023-03-31    32717...
10540  2024-03-31    166715200000.0\n2023-03-31    16...
10541  2023-03-31     97783000.0\n2022-03-31    12200...
10542  2021-03-31    4909000000.0\n2020-03-31    4365...
10543  2024-03-31    152557000.0\n2023-03-31     8195...

[8910 rows x 1 columns]

Column: Total Debt
                                              Total Debt
0                                        3461420000000.0
1                                        3343920000000.0
2                                        2819740000000.0
3                                        2601250000000.0
4                                                    nan
...                                                  ...
10539  2024-03-31    280694000.0\n2023-03-31    32819...
10540  2024-03-31    175958500000.0\n2023-03-31    17...
10541  2023-03-31    139749000.0\n2022-03-31    13616...
10542  2021-03-31    4909600000.0\n2020-03-31    4365...
10543  2024-03-31    159556000.0\n2023-03-31     8472...

[10351 rows x 1 columns]

Column: Tangible Book Value
                                     Tangible Book Value
0                                        4331070000000.0
1                                        3850770000000.0
2                                        5476870000000.0
3                                        5551980000000.0
4                                                    nan
...                                                  ...
10539  2024-03-31   -304504000.0\n2023-03-31    23326...
10540  2024-03-31   -162016500000.0\n2023-03-31   -17...
10541  2023-03-31    219357000.0\n2022-03-31    20724...
10542  2021-03-31   -5252000000.0\n2020-03-31   -4707...
10543  2024-03-31    156451000.0\n2023-03-31    13372...

[10486 rows x 1 columns]

Column: Invested Capital
                                        Invested Capital
0                                       11181030000000.0
1                                       10298380000000.0
2                                       10457900000000.0
3                                        9519830000000.0
4                                                    nan
...                                                  ...
10539  2024-03-31    -23810000.0\n2023-03-31    56145...
10540  2024-03-31     64684700000.0\n2023-03-31     5...
10541  2023-03-31    359106000.0\n2022-03-31    34340...
10542  2021-03-31   -342400000.0\n2020-03-31   -34210...
10543  2024-03-31    316128000.0\n2023-03-31    21848...

[10471 rows x 1 columns]

Column: Working Capital
                                         Working Capital
0                                         727330000000.0
1                                         295530000000.0
2                                         383570000000.0
3                                         954430000000.0
4                                                    nan
...                                                  ...
10537  2023-03-31   -2918273000.0\n2022-03-31   -2912...
10539  2024-03-31   -317290000.0\n2023-03-31     5784...
10541  2023-03-31    215576000.0\n2022-03-31    21215...
10542  2021-03-31   -311900000.0\n2020-03-31   -31180...
10543  2024-03-31    54358000.0\n2023-03-31    917210...

[10002 rows x 1 columns]

Column: Net Tangible Assets
                                     Net Tangible Assets
0                                        4331070000000.0
1                                        3850770000000.0
2                                        5476870000000.0
3                                        5551980000000.0
4                                                    nan
...                                                  ...
10539  2024-03-31   -304504000.0\n2023-03-31    23326...
10540  2024-03-31   -162016500000.0\n2023-03-31   -17...
10541  2023-03-31    219357000.0\n2022-03-31    20724...
10542  2021-03-31   -5252000000.0\n2020-03-31   -4707...
10543  2024-03-31    156451000.0\n2023-03-31    13372...

[10486 rows x 1 columns]

Column: Capital Lease Obligations
                               Capital Lease Obligations
0                                         215200000000.0
1                                         204260000000.0
2                                         156690000000.0
3                                          83140000000.0
4                                                    nan
...                                                  ...
10509  2024-03-31          NaN\n2023-03-31    1200000...
10515  2024-03-31    17432000.0\n2023-03-31    168580...
10519  2024-03-31    NaN\n2023-03-31    0.0\n2022-03-...
10532  2024-03-31     8339000.0\n2023-03-31    139470...
10537  2023-03-31    6349000.0\n2022-03-31    6349000...

[7580 rows x 1 columns]

Column: Common Stock Equity
                                     Common Stock Equity
0                                        7934810000000.0
1                                        7158720000000.0
2                                        7794850000000.0
3                                        7001720000000.0
4                                                    nan
...                                                  ...
10539  2024-03-31   -304504000.0\n2023-03-31    23326...
10540  2024-03-31   -111273800000.0\n2023-03-31   -12...
10541  2023-03-31    219357000.0\n2022-03-31    20724...
10542  2021-03-31   -5252000000.0\n2020-03-31   -4707...
10543  2024-03-31    156572000.0\n2023-03-31    13375...

[10486 rows x 1 columns]

Column: Total Capitalization
                                    Total Capitalization
0                                       10161930000000.0
1                                        8990480000000.0
2                                        9671840000000.0
3                                        8638550000000.0
4                                                    nan
...                                                  ...
10539  2024-03-31   -271238000.0\n2023-03-31    29721...
10540  2024-03-31     64684700000.0\n2023-03-31     5...
10541  2023-03-31    238842000.0\n2022-03-31    23781...
10542  2021-03-31   -342400000.0\n2020-03-31   -34210...
10543  2024-03-31    207185000.0\n2023-03-31    17934...

[10471 rows x 1 columns]

Column: Total Equity Gross Minority Interest
                    Total Equity Gross Minority Interest
0                                        9257880000000.0
1                                        8288810000000.0
2                                        8889840000000.0
3                                        7994320000000.0
4                                                    nan
...                                                  ...
10539  2024-03-31   -304504000.0\n2023-03-31    23326...
10540  2024-03-31    -99313200000.0\n2023-03-31   -11...
10541  2023-03-31    219357000.0\n2022-03-31    20724...
10542  2021-03-31   -5252000000.0\n2020-03-31   -4707...
10543  2024-03-31    156572000.0\n2023-03-31    13375...

[10486 rows x 1 columns]

Column: Minority Interest
                                       Minority Interest
0                                        1323070000000.0
1                                        1130090000000.0
2                                        1094990000000.0
3                                         992600000000.0
4                                                    nan
...                                                  ...
10521  2024-03-31    202000.0\n2023-03-31         NaN...
10528  2024-03-31    24616000.0\n2023-03-31      9570...
10530  2024-03-31    194000.0\n2023-03-31     28000.0...
10533  2023-03-31    11000.0\n2022-03-31     7000.0\n...
10540  2024-03-31    11960600000.0\n2023-03-31     83...

[5265 rows x 1 columns]

Column: Stockholders Equity
                                     Stockholders Equity
0                                        7934810000000.0
1                                        7158720000000.0
2                                        7794850000000.0
3                                        7001720000000.0
4                                                    nan
...                                                  ...
10539  2024-03-31   -304504000.0\n2023-03-31    23326...
10540  2024-03-31   -111273800000.0\n2023-03-31   -12...
10541  2023-03-31    219357000.0\n2022-03-31    20724...
10542  2021-03-31   -5252000000.0\n2020-03-31   -4707...
10543  2024-03-31    156572000.0\n2023-03-31    13375...

[10486 rows x 1 columns]

Column: Other Equity Interest
                                   Other Equity Interest
0                                        7867150000000.0
1                                           6460000000.0
2                                           4340000000.0
3                                         405800000000.0
4                                                    nan
...                                                  ...
10521  2024-03-31    942508000.0\n2023-03-31    76641...
10534  2024-03-31         1000.0\n2023-03-31       -2...
10539  2024-03-31        NaN\n2023-03-31    77000.0\n...
10540  2024-03-31   -113806200000.0\n2023-03-31      ...
10542  2021-03-31   -5980500000.0\n2020-03-31   -5436...

[9970 rows x 1 columns]

Column: Retained Earnings
                                       Retained Earnings
0                                        3397870000000.0
1                                        2957390000000.0
2                                        2479510000000.0
3                                        1960590000000.0
4                                                    nan
...                                                  ...
10537  2023-03-31   -2433543000.0\n2022-03-31   -2330...
10539  2024-03-31           NaN\n2023-03-31    787120...
10540  2024-03-31               NaN\n2023-03-31   -22...
10541  2023-03-31           NaN\n2022-03-31    971830...
10543  2024-03-31          NaN\n2023-03-31    8170000...

[10382 rows x 1 columns]

Column: Additional Paid In Capital
                              Additional Paid In Capital
0                                         998460000000.0
1                                         998360000000.0
2                                        1148460000000.0
3                                         745580000000.0
4                                                    nan
...                                                  ...
10537  2023-03-31    1948441000.0\n2022-03-31    1948...
10539  2024-03-31           NaN\n2023-03-31    466580...
10540  2024-03-31              NaN\n2023-03-31    342...
10541  2023-03-31           NaN\n2022-03-31    659890...
10543  2024-03-31           NaN\n2023-03-31    625500...

[9575 rows x 1 columns]

Column: Capital Stock
                                           Capital Stock
0                                          67660000000.0
1                                          67660000000.0
2                                          67650000000.0
3                                          64450000000.0
4                                                    nan
...                                                  ...
10539  2024-03-31    100301000.0\n2023-03-31    10030...
10540  2024-03-31    2532400000.0\n2023-03-31    2532...
10541  2023-03-31    44072000.0\n2022-03-31    440720...
10542  2021-03-31    728500000.0\n2020-03-31    72850...
10543  2024-03-31    63038000.0\n2023-03-31    630380...

[10486 rows x 1 columns]

Column: Common Stock
                                            Common Stock
0                                          67660000000.0
1                                          67660000000.0
2                                          67650000000.0
3                                          64450000000.0
4                                                    nan
...                                                  ...
10539  2024-03-31    100301000.0\n2023-03-31    10030...
10540  2024-03-31    2532400000.0\n2023-03-31    2532...
10541  2023-03-31    44072000.0\n2022-03-31    440720...
10542  2021-03-31    728500000.0\n2020-03-31    72850...
10543  2024-03-31    63038000.0\n2023-03-31    630380...

[10486 rows x 1 columns]

Column: Total Liabilities Net Minority Interest
                 Total Liabilities Net Minority Interest
0                                        8301980000000.0
1                                        7785500000000.0
2                                        6106810000000.0
3                                        5217800000000.0
4                                                    nan
...                                                  ...
10539  2024-03-31    401564000.0\n2023-03-31    55997...
10540  2024-03-31    849179500000.0\n2023-03-31    77...
10541  2023-03-31    185685000.0\n2022-03-31    19914...
10542  2021-03-31    5253900000.0\n2020-03-31    4710...
10543  2024-03-31    299611000.0\n2023-03-31    16934...

[10486 rows x 1 columns]

Column: Total Non Current Liabilities Net Minority Interest
      Total Non Current Liabilities Net Minority Interest
0                                        4328310000000.0
1                                        3828070000000.0
2                                        3020190000000.0
3                                        2442120000000.0
4                                                    nan
...                                                  ...
10537  2023-03-31     40398000.0\n2022-03-31     4039...
10539  2024-03-31     34599000.0\n2023-03-31     9024...
10541  2023-03-31    21549000.0\n2022-03-31    325700...
10542  2021-03-31    4941400000.0\n2020-03-31    4397...
10543  2024-03-31    54895000.0\n2023-03-31    485860...

[10002 rows x 1 columns]

Column: Other Non Current Liabilities
                           Other Non Current Liabilities
0                                        1127520000000.0
1                                        1137660000000.0
2                                         377920000000.0
3                                         193390000000.0
4                                                    nan
...                                                  ...
10537  2023-03-31   -1000.0\n2022-03-31       NaN\n20...
10539  2024-03-31          NaN\n2023-03-31          N...
10541  2023-03-31         1000.0\n2022-03-31   -23981...
10542  2021-03-31   -100000.0\n2020-03-31    100000.0...
10543  2024-03-31   -1000.0\n2023-03-31   -1000.0\n20...

[8371 rows x 1 columns]

Column: Tradeand Other Payables Non Current
                     Tradeand Other Payables Non Current
0                                          56670000000.0
1                                          77040000000.0
2                                         120240000000.0
3                                         146160000000.0
4                                                    nan
...                                                  ...
10495  2022-03-31    2145364000.0\n2021-03-31    2142...
10502  2022-03-31    7818000.0\n2021-03-31    8270000...
10504  2024-03-31          NaN\n2023-03-31          N...
10505  2024-03-31     7283000.0\n2023-03-31    260740...

In [6]:
db_path = os.path.join(os.getcwd(), "../..", "data/raw/company_metadata.db")
conn = sqlite3.connect(db_path)
query = f"SELECT * FROM analyst_recommendations"
df = pd.read_sql_query(query, conn)
df.loc[3959, 'strongBuy']

0.0

## Preprocessings Utilities

In [7]:
def is_numeric_like(col_values):
        """
        Check if a column is numeric-like based on its values.
        """
        non_null_values = col_values[col_values.notnull()]
        numeric_count = sum(
            isinstance(val, (int, float)) or 
            str(val).replace('.', '', 1).replace('-', '', 1).isdigit()
            for val in non_null_values
        )
        total_count = len(non_null_values)
        return numeric_count / total_count > 0.5 if total_count > 0 else False

def is_datetime_like(col_values, threshold=0.8, date_format=None):
    """
    Check if a column is date-time-like.
    """

    def is_valid_datetime(value):
        try:
            if pd.isna(value):  # Skip NaN values
                return False
            if date_format:
                pd.to_datetime(value, format=date_format, errors="raise")
            else:
                pd.to_datetime(value, errors="raise")
            return True
        except Exception:
            return False

    # Check validity for each value in the column
    valid_count = col_values.apply(is_valid_datetime).sum()
    total_count = col_values.notnull().sum()

    # Determine if the column is date-time-like based on the threshold
    if total_count == 0:  # If all values are null, return False
        return False
    return valid_count / total_count >= threshold

### Preprocess rows with newline("\n")

In [8]:
def preprocess_latest_date_value(column):
    """
    Extract the value corresponding to the latest date from newline-separated entries.
    If no valid date-value pairs are found, return the original entry.
    
    Parameters:
        column (pd.Series): Input column with newline-separated date-value pairs.
    
    Returns:
        pd.Series: Cleaned column with values corresponding to the latest date.
    """

    def extract_latest(entry):
        if not isinstance(entry, str):
            return entry  # Return original value for non-strings
        
        # Split the entry by newline and process each line
        lines = entry.split('\n')
        date_value_pairs = []
        
        for line in lines:
            # Match date and numeric value pairs (e.g., "2024-03-31    12345.67")
            match = re.match(r"(\d{4}-\d{2}-\d{2})\s+([+-]?\d*\.?\d+|NaN)", line.strip())
            if match:
                date, value = match.groups()
                if value.lower() != "nan":  # Exclude NaN values
                    date_value_pairs.append((date, float(value)))
        
        # Sort pairs by date (latest first)
        date_value_pairs.sort(key=lambda x: x[0], reverse=True)
        
        # Return the value for the latest date, or original entry if no valid pairs
        return date_value_pairs[0][1] if date_value_pairs else entry

    # Apply the extraction logic to the entire column
    return column.apply(extract_latest)

### Preprocess nan, space and numeric values

In [9]:
def preprocess_nan_numeric_and_spaces(column):
    """
    Preprocess a column to handle:
    1. NaN values (preserve as NaN).
    2. Numeric strings (convert to int if whole number, otherwise float).
    3. Strings with spaces in numeric values (e.g., '400 001' -> 400001).
    4. Preserve non-numeric strings as is.

    Parameters:
        column (pd.Series): Input column.

    Returns:
        pd.Series: Preprocessed column.
    """

    def clean_value(value):
        if pd.isna(value):
            return np.nan  # Preserve NaN
        if isinstance(value, str):
            # Remove spaces and check if numeric
            cleaned_value = value.replace(" ", "")
            try:
                numeric_value = float(cleaned_value)
                # Check if it's a whole number to return as int
                if numeric_value.is_integer():
                    return int(numeric_value)
                return numeric_value  # Return as float otherwise
            except ValueError:
                return value  # Preserve original if not numeric
        return value  # Return original value if already numeric

    # Apply the cleaning logic to the column
    return column.apply(clean_value)

### Preprocess datetime columns

In [10]:
def preprocess_datetime_column(column, date_format=None):
        """
        Preprocess a column to handle and convert date-time-like values.

        This function performs the following operations:
        1. Valid Date-Time Strings:
        - Converts valid date-time strings into proper datetime objects.
        - If a `date_format` is provided, uses it to parse the dates.
        - If no format is provided, infers the format automatically.
        2. Invalid Entries:
        - Converts invalid or non-date values to `NaT` (Not a Time).
        3. Existing Datetime Objects:
        - Leaves existing datetime objects unchanged.

        Parameters:
            column (pd.Series): The input column to preprocess.
            date_format (str, optional): Optional date format for parsing. 
                                        Example: "%Y-%m-%d" for "2024-03-31".
                                        If None, infers the format automatically.

        Returns:
            pd.Series: Preprocessed column with:
                - Valid date-time values as `datetime64` objects.
                - Invalid or non-date values as `NaT`.
        """
        def convert_to_datetime(value):
            try:
                if date_format:
                    return pd.to_datetime(value, format=date_format, errors="coerce")
                else:
                    return pd.to_datetime(value, errors="coerce")
            except Exception:
                return pd.NaT  # Return NaT for invalid entries

        # Apply the conversion logic
        return column.apply(convert_to_datetime)


## Validation

In [11]:
def validate_post_preprocessing_for_numeric(column):
    """
    Validate a column after preprocessing to ensure no non-numeric values remain.

    Parameters:
        column (pd.Series): The input Pandas column.

    Returns:
        pd.DataFrame: Rows that are still problematic (non-numeric).
    """
    # Check for non-numeric values
    problematic_rows = column[~column.apply(lambda x: isinstance(x, (int, float)) or pd.isnull(x))]
    
    if not problematic_rows.empty:
        print(f"Validation Failed: Found {len(problematic_rows)} non-numeric rows.")
        return problematic_rows
    else:
        print("Validation Passed: All values are numeric or null.")
        return pd.DataFrame()  # Empty DataFrame if no issues found

def validate_post_preprocessing_for_datetime(column):
    """
    Validate a column after preprocessing to ensure all values are valid datetime objects or NaT.

    Parameters:
        column (pd.Series): The input Pandas column.

    Returns:
        pd.DataFrame: Rows that are still problematic (non-datetime).
    """

    # Check for non-datetime values
    problematic_rows = column[~column.apply(lambda x: pd.isnull(x) or isinstance(x, pd.Timestamp))]
    
    if not problematic_rows.empty:
        print(f"Validation Failed: Found {len(problematic_rows)} non-datetime rows.")
        return problematic_rows
    else:
        print("Validation Passed: All values are valid datetime or null.")
        return pd.DataFrame()  # Empty DataFrame if no issues found

In [13]:
def validate_numeric_conversion(table_name):
    """
    Validate numeric-like columns in a table post-preprocessing.
    Flags rows in numeric-like columns that are not numeric and displays
    3 sample rows for each numeric-like column after preprocessing.
    """

    db_path = os.path.join(os.getcwd(), "../..", "data/raw/company_metadata.db")
    conn = sqlite3.connect(db_path)
    df = pd.read_sql_query(f"SELECT * FROM {table_name}", conn)
    conn.close()

    print(f"Validating table: {table_name}")

    flagged_rows = {}
    for col in df.columns:
        if df[col].dtype == "object":  # Only consider object columns
            if is_numeric_like(df[col]):
                print(f"Validating column: {col} (numeric-like)")

                # Preprocess rows with '\n'
                if df[col].str.contains('\n', na=False).any():
                    print(f"Preprocessing column: {col} (contains rows with '\\n')")
                    df[col] = preprocess_latest_date_value(df[col])
                
                # Preprocess NaN and numeric strings
                df[col] = preprocess_nan_numeric_and_spaces(df[col])
                
                # Validate the column
                problematic_rows = validate_post_preprocessing_for_numeric(df[col])
                
                # If no issues, display 3 sample rows
                if problematic_rows.empty:
                    print(f"Sample rows from column: {col}")
                    print(df[col].head(3))
                else:
                    flagged_rows[col] = problematic_rows

    # Display flagged rows if any issues remain
    if flagged_rows:
        print("\nFlagged Rows in Numeric-Like Columns:")
        for col, rows in flagged_rows.items():
            print(f"Column: {col}")
            print(rows)
    else:
        print("All numeric-like columns are correctly converted.")

def validate_datetime_conversion(table_name):
    """
    Validate datetime-like columns in a table post-preprocessing.
    Flags rows in datetime-like columns that are not valid datetime values and displays
    3 sample rows for each datetime-like column after preprocessing.
    """

    db_path = os.path.join(os.getcwd(), "../..", "data/raw/company_metadata.db")
    conn = sqlite3.connect(db_path)
    df = pd.read_sql_query(f"SELECT * FROM {table_name}", conn)
    conn.close()

    print(f"Validating table: {table_name}")

    flagged_rows = {}
    for col in df.columns:
        if df[col].dtype == "object":  # Only consider object columns
            # Detect if the column is datetime-like
            if is_datetime_like(df[col]):
                print(f"Validating column: {col} (datetime-like)")

                # Preprocess the column
                df[col] = preprocess_datetime_column(df[col])
                
                # Validate the column
                problematic_rows = validate_post_preprocessing_for_datetime(df[col])
                
                # If no issues, display 3 sample rows
                if problematic_rows.empty:
                    print(f"Sample rows from column: {col}")
                    print(df[col].head(3))
                else:
                    flagged_rows[col] = problematic_rows

    # Display flagged rows if any issues remain
    if flagged_rows:
        print("\nFlagged Rows in Datetime-Like Columns:")
        for col, rows in flagged_rows.items():
            print(f"Column: {col}")
            print(rows)
    else:
        print("All datetime-like columns are correctly converted.")

In [14]:
tables = ["company_info", "balance_sheet", "income_statement", "cash_flow", "historical_data", "analyst_recommendation"]

for table in tables:
    validate_numeric_conversion(table)
    validate_datetime_conversion(table)

Validating table: analyst_recommendations
Validating column: strongBuy (numeric-like)
Preprocessing column: strongBuy (contains rows with '\n')
Validation Failed: Found 1 non-numeric rows.
Validating column: buy (numeric-like)
Preprocessing column: buy (contains rows with '\n')
Validation Failed: Found 1 non-numeric rows.
Validating column: hold (numeric-like)
Preprocessing column: hold (contains rows with '\n')
Validation Failed: Found 1 non-numeric rows.
Validating column: sell (numeric-like)
Preprocessing column: sell (contains rows with '\n')
Validation Failed: Found 1 non-numeric rows.
Validating column: strongSell (numeric-like)
Preprocessing column: strongSell (contains rows with '\n')
Validation Failed: Found 1 non-numeric rows.
Validating column: ticker_id (numeric-like)
Validation Passed: All values are numeric or null.
Sample rows from column: ticker_id
0    3801970844685813760
1    3801970844685813760
2    3801970844685813760
Name: ticker_id, dtype: int64

Flagged Rows in Numeric-Like Columns:
Column: strongBuy
3960    0    0\n1    4\n2    4\n3    5\nName: strongBu...
Name: strongBuy, dtype: object
Column: buy
3960    0    0\n1    2\n2    2\n3    2\nName: buy, dty...
Name: buy, dtype: object
Column: hold
3960    0    0\n1    2\n2    2\n3    2\nName: hold, dt...
Name: hold, dtype: object
Column: sell
3960    0    0\n1    2\n2    2\n3    2\nName: sell, dt...
Name: sell, dtype: object
Column: strongSell
3960    0    0\n1    1\n2    1\n3    1\nName: strongSe...
Name: strongSell, dtype: object
Validating table: analyst_recommendations
Validating column: strongBuy (datetime-like)
Validation Passed: All values are valid datetime or null.
Sample rows from column: strongBuy
0   1970-01-01
1   1970-01-01
2   1970-01-01
Name: strongBuy, dtype: datetime64[ns]
Validating column: buy (datetime-like)
Validation Passed: All values are valid datetime or null.
Sample rows from column: buy
0   1970-01-01
1   1970-01-01
2   1970-01-01
Name: buy, dtype: datetime64[ns]
Validating column: hold (datetime-like)
Validation Passed: All values are valid datetime or null.
Sample rows from column: hold
0   1970-01-01
1   1970-01-01
2   1970-01-01
Name: hold, dtype: datetime64[ns]
Validating column: sell (datetime-like)
Validation Passed: All values are valid datetime or null.
Sample rows from column: sell
0   1970-01-01
1   1970-01-01
2   1970-01-01
Name: sell, dtype: datetime64[ns]
Validating column: strongSell (datetime-like)
Validation Passed: All values are valid datetime or null.
Sample rows from column: strongSell
0   1970-01-01
1   1970-01-01
2   1970-01-01
Name: strongSell, dtype: datetime64[ns]
All datetime-like columns are correctly converted.